name: Shellcheck

on:
  push:
    # test this branch and staged PRs based on this branch code
    branches: [ "main", "auto" ]

  pull_request:
    # test PRs targeting this branch code
    branches: [ "main" ]


jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
      with:
        ignore_paths: ./build-aux/install-sh
      env:
        SHELLCHECK_OPTS: -o all
